.custom-input {
  position: relative;
  display: flex;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input {
      width: 100%;
      min-height: 48px;
      padding: 11px 29px;

      color: rgba($color-input, 1);
      border: 1px solid $bg-border;
      border-radius: 6px;
      outline: none;

      transition: border 0.3s ease;
      &::placeholder {
        color: black;
      }

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }

      &:hover {
        border: 1px solid rgba(#000000, 0.5);
      }

      &:focus {
        border: 2px solid rgba(#000000, 0.8);
      }
    }
  }

  &__label {
    display: none;
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &--invalid {
      color: #ff0000;
    }

    &--valid {
      color: #15ab07;
    }
  }
}
