.video-block {
  position: relative;
  color: $color-default-white;
  background-color: $bg-black;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 102px;
    background-color: $color-default-white;
  }

  .container {
    padding-top: 150px;

    @include vp-767 {
      padding-top: 50px;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    max-width: 340px;
    margin: 0 auto 50px;
    font-weight: 300;
    opacity: 0.7;

    @include vp-767 {
      text-align: center;
    }
  }
}
