$color-default-black:                              #000000;
$color-default-white:                              #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

$color-title:                                      #1f1f1f;
$color-input:                                      #1c1c1c;
$color-menu:                                       #48494d;
$color-arrow:                                      #2c2e3f;
$bg-light-grey:                                    #e5e5e5;
$bg-black:                                         #131314;
$bg-grey:                                          #f6f7f9;
$bg-green:                                         #0ad9c6;
$bg-border:                                        #c9ccd4;
$bg-menu:                                          #f6f6f6;

$fz-default:                                            16px;

$ff-opensans:               "Open Sans", "Arial", sans-serif;

$tf-default:                                            ease;
$trans-default:                             0.3s $tf-default;
$trans-600:                                 0.6s $tf-default;

$vp-768:                                               768px;
$vp-1024:                                             1024px;
$vp-1440:                                             1440px;

$retina-dpi:                                          144dpi;
$retina-dppx:                                        1.5dppx;
